main{
    background: #fff;
    min-height: 500px;
    padding: 20px;
    overflow: hidden;
}
#menu{
    width: 200px;
    float: left;

}
.menuimg{
    width: 30px;
    margin-right: 10px;
}
.menu{
   text-decoration: none;
   display: block;
   margin: 10px;
   padding: 5px 0;
   border-bottom: 1px dashed #f3b918;;
}
.menutext{
    color: #f3b918;
    text-indent: 15px;
    text-transform: uppercase;
    font: bold 1em 'Open Sans', sans-serif;
}
.menutext:hover{
    color: #f27609;
}
#active{
    color: #fff;
}

/* Media Queries for menu */

@media screen and (max-width:800px){
    #menu{
        width: 100%;
    }
    .menu{
        float: left;
        border-bottom: 0;
        border-right: 1px dashed #f3b918;
        margin: 10px 0;
        padding: 0;
        width: 19%;
        text-align: center;
    }
    .menu:last-child{
        border-right: 0;
    }
}
@media screen and (max-width:700px){
    .menutext{
        display: none;
    }
}
@media screen and (max-width:320px){
    #menu{
        width: 320px;
    }
}